/******************************************************************Small Devices********************************************/
@media(min-width:320px) and (max-width:500px){
    .logo a{
        font-size: 18px;
    }
    .nav-list{
        width: 50vw;
    }
    .cardapio img{
        width: 265px;
        height: 265px;
    }
    footer .container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .copyright{
       padding: 10px;
    }
    .copyright p{
        text-align: center;
    }
    .social{
        padding: 10px;
    }
 }
/******************************************************************Medium Devices********************************************/
@media (min-width:501px) and (max-width:767px){
    
    nav{
        justify-content: space-evenly;
    }
    .logo a{
        font-size: 18px;
    }
    .cardapio .container{
        flex-direction:column;
        align-items: center;
      
      }
    .cardapio img{
        width: 265px;
        
    }
    footer .container{
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .copyright{
        padding: 10px;
     }
     .copyright{
        padding: 10px;
    }
     .copyright p{
         text-align: center;
     }
     .social{
         padding: 10px;
     }
}
/******************************************************************Tablet and Larger Screens********************************************/
@media (min-width:768px) and (max-width:1220px){
    nav{
        justify-content: space-evenly;
    }
    .cardapio img{
        width: 320px;
        height: 370px;
    }
    .copyright{
        padding: 10px;
     }
     .copyright{
         padding: 10px;
     }
     .copyright p{
         text-align: center;
     }
     .social{
         padding: 10px;
     }
     footer .container{
        flex-direction:column;
        align-items: center;
        
    }
}



