@media(min-width:320px) and (max-width:425px){
    .logo a{
        font-size: 18px;
    }
    .nav-list{
        width: 50vw;
    }
    .cardapio img{
        width: 265px;
        height: 265px;
    }
    footer .container{
        flex-wrap: wrap-reverse;
    }
    .copyright{
        padding: 10px;
    }
    .copyright p{
        text-align: center;
    }
    .social{
        padding: 10px;
    }
    
    
}