@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
}
body{
  background: #000;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  text-transform: uppercase;
}
body{
  background: #000;
}



.nav-list a:hover{
  border-bottom: 1px solid white;
  transition:0.4s;
}

.logo  a{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #e5e5e5;
}
.logo p {
  font-size: 20px;
  color: white;
  text-transform:capitalize;
  text-align: center;
  letter-spacing: 2px;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Nanum Myeongjo', serif;
  background: #000;
  height: 12vh;
  
}

main {
  background: url("bg2.jpg") no-repeat center center;
  background-size: cover;
  height: 88vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 55px;

}
.nav-list a{
  color: #e5e5e5;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .logo{
    text-align: center;
  }
  .nav-list {
    position: absolute;
    top: 12vh;
    right: 0;
    width: 40vw;
    height: 88vh;
    background: #000;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    justify-content: space-evenly;
=======
    justify-content:space-evenly;
>>>>>>> bae5aea3b05c100d3fa3aaabe5df22f2f0c80b9f
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
<<<<<<< HEAD
.cardapio img{
  width: 400px;
  height: 350px;
  border-radius: 15px;
  opacity: 0.5;
}
.cardapio img:hover{
  opacity: 1;
  transition: 0.4s;
}
.cardapio .container{
  display: flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  flex-direction: row;

}
.cardapio h1{
  color: #e5e5e5;
  text-align: center;
  font-size: 3rem;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 200;
}
.cardapio p{
  color: #e5e5e5;
  margin: 20px 0px 10px 20px;
  font-size: 1.2rem;
  font-family: 'Nanum Myeongjo', serif;
 
}
.btn_cardapio{
  display: flex;
  justify-content:start;
  flex-wrap: wrap;
}
.itens_cardapio button{
  width: 10rem;
  margin: 20px;
  padding: 10px 15px;
  font-family: 'Nanum Myeongjo', serif;
  border-radius: 10px;
  background: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  
}
.itens_cardapio button:hover{
  border: 1px solid white;
  background: none;
  color: white;
  transition: 0.5s ease-in;
}

footer{
  width: 100%;
  font-family: 'Nanum Myeongjo', serif;
  background:#e5e5e5;
}
footer .container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center ;
}
.info{
  padding:20px;
}
.info li{
  font-size: 1.5rem;
  font-weight:600;
}
.info i{
  font-size: 1.5rem;
  margin: 17px;
}
.copyright p{
  font-size: 1.5rem;
  font-weight: 600;
}
.social p {
  margin: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.social i{
  margin-left: 100px;
  margin-bottom: 30px;
  font-size: 2rem;
  cursor: pointer;
=======

.menu_cardapio{
  max-width: 1000px;
}
.menu_cardapio h1{
  margin: 50px;
 text-align: center;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 200;
>>>>>>> bae5aea3b05c100d3fa3aaabe5df22f2f0c80b9f
}